
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top:200px">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="text-white">
        All right reserved. Article 2024
      </div>
    </div>
  </div>
</nav>
