<%= form_with model: article, id: 'articleForm' do |form| %>
  <div class="field form-group">
    <br>
    <%= form.text_field :title, class: "form-control", placeholder: "Title", id: "articleTitle" %>
   
  </div>

  <div class="field form-group">
    <br>
    <%= form.text_area :body, class: "form-control", placeholder: "Body", id: "articleBody" %><br>

  </div>

  <div style="display: flex; justify-content: center; align-items: center;">
    <%= form.submit 'Save Article', class: "btn btn-secondary", id: "submitButton" %>
  </div>
<% end %>
