
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbo-track': 'reload' %>
<% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <h4> Welcome to Article website</h4>
  <p>Lets post helpful and quality articles on website to add value to others lives</p>

  
  </div>


  

