
<div class="container">
  <h4> Welcome to Article website</h4>
  <p>Lets post helpful and quality articles on website to add value to others lives</p>
  
  </div>

  <p class="in-main">
    I am linked with main.scss
  </p>

  <button id="my-button">Click Me</button>

  <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>

